//- A página carrega com arcadeTempId

extends base.pug

block headExtra 
    title Login
    


block content
    section
        h2 Login no Fliperama
        form(id="loginForm")
            label(for="arcadeTempId") 
            input(type="hidden", name="arcadeTempId", id="arcadeTempId", value=arcadeTempId)
            input(type="hidden", name="apiURL", id="apiURL", value=apiURL)
            label(for="username") Usuário
            input(type="text", name="username", id="username")
            label(for="password") Senha
            input(type="password", name="password", id="password")

            p(id="feedback-message" style="text-align: center; color: #ff6b6b;")

            div(style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;")
                a(href="/forgot-password", style="margin-left: auto;") Esqueci minha senha
            div(style="display: flex; gap: 10px; flex-direction: column;")
                button(type="button", id="adminSubmitButton") Entrar como Admin

block scripts 
    script(src="/scripts/adminLogin.js")