doctype html 
html 
    head 
        //- Bloco Head Extra
        block headExtra 

        //- Sobrescrever CSS
        link(rel="stylesheet", href="/styles.css")

        //- Adicionando uma imagem de título
        .appHeader
            img(src="/assets/patroArcadeLogo.png", alt="PatroArcade Logo")
    
    body
        .stars

        //- Bloco de Conteúdo 
        block content 

        //- Um rodapé
        footer 
            p © 2025 - PatroArcade - Todos os direitos reservados.
            <a href="https://github.com/luisfpatrocinio">GitHub</a>
            <span> | </span>
            <a href="https://www.textstudio.com/">Font generator</a>
            <br><br>
            <a href="/dashboard/arcade" style="font-weight: bold; background: rgba(31, 111, 235, 0.2); padding: 5px 10px; border-radius: 5px;">Área do Parceiro</a>
            
        //- Adicionar algum script adicional
        block scripts 
            
            //- // Scripts comum a todas as páginas
            //- script(src="/scripts/main.js")
        
        