extends base.pug

block headExtra 
    title Listagem de Jogos 

block content 
    .container.mt-5.pt-4
        h2.mb-4.text-info Catálogo de Jogos
        .row.g-4
            if gameDatabase && gameDatabase.length > 0
                each game in gameDatabase
                    .col-12.col-sm-6.col-lg-4
                        .card.bg-dark.text-light.border-secondary.h-100.shadow-sm
                            .card-body
                                h5.card-title= game.title
                                p.card-text.text-muted ID: #{game.id}
                            .card-footer.border-top.border-secondary
                                a.btn.btn-outline-primary.btn-sm.w-100(href=`/game/${game.id}`) Ver Detalhes
            else
                .col-12
                    .alert.alert-warning Nenhum jogo disponível no momento.

    .back-button-container.mt-5
        a.returnButton(href="/") Voltar ao Início

block scripts
    script(src="/scripts/gamesPage.js")