extends base.pug

block headExtra
  title Página Inicial

block content
  section#latestNews
    h2 Novidades
    if latestNews && latestNews.length > 0
      ul
        each news in latestNews
          li
            h3= news.title
            p= news.content
    else
      p Não foi possível carregar as novidades no momento.

  section#pontuacoes
    h2 Melhores Colocações
    if players && players.length > 0
      table
        thead
          tr
            th Nome
            th Pontuação Total
        tbody
          each player in players
            tr
              td
                a(href=`/player/${player.id || player.userId}`).player-link= player.name
              td #{player.totalScore}
    else
      p Não foi possível carregar as pontuações no momento.

  section#links-uteis
    h2 Links Úteis
    ul
      li
        a(href='/games') Jogos
      li
        a(href='/players') Jogadores