extends base.pug

block headExtra
  title Diagnostic - Máquina #{arcadeId}

block content
  section#machineDiagnostic
    .diagnostic-header
      h2 Maquina ##{arcadeId}
      .status-indicator
        span.pulse
        span.status-text Online

    section#systemStatus
      h3 Status do Sistema
      .telemetry-list
        .telemetry-item
          .telemetry-label Status de Operacao
          .telemetry-value.status-online Online
        .telemetry-item
          .telemetry-label Jogo Atual
          .telemetry-value Nenhum
        .telemetry-item
          .telemetry-label Tempo de Atividade
          .telemetry-value 00:00:00
        .telemetry-item
          .telemetry-label Sessões Hoje
          .telemetry-value 0

    section#controlPanel
      h3 Controle Remoto
      .action-buttons
        button.actionButton.btn-danger(type="button" disabled) Desligar Máquina
        button.actionButton.btn-success(type="button" disabled) Atualizar Jogo

    .back-button-container
      a.returnButton(href="/dashboard/arcade") Voltar ao Painel

  script.
    document.addEventListener('DOMContentLoaded', function() {
      var currentMachineStatus = 'online';
      function HandleTelemetryUpdate() {
        console.log('Telemetry running for machine ' + window.arcadeId);
      }
      setInterval(HandleTelemetryUpdate, 5000);
    });