extends base.pug

block headExtra
  title Listagem de Jogadores

block content
  section#playersList
    h2 Hall da Fama - Jogadores
    if playerDatabase && playerDatabase.length > 0
      table
        thead
          tr
            th Jogador
            th ID
            th Perfil
        tbody
          each playerData in playerDatabase
            tr
              td
                a.player-link(href=`/player/${playerData.id || playerData.userId}`)= playerData.name
              td.text-muted #{playerData.id || playerData.userId}
              td
                a.btn.btn-outline-info.btn-sm(href=`/player/${playerData.id || playerData.userId}`) Ver
    else
      p.text-muted Nenhum jogador cadastrado no momento.

  .back-button-container
    a.returnButton(href="/") Voltar ao Início

block scripts
  script(src="/scripts/playersPage.js")