//- Essa página vai ser carregada com playerDatabase

extends base.pug

block headExtra 
    title Listagem de Jogadores 

block content 
    section
        h2 Jogadores
            ul
                each player in playerDatabase
                    li.gameListItem
                        a(href=`/player/${player.userId}`)= player.name
    div.returnButton
        a(id="home-button" href="#") Voltar para a Home

block scripts
    script(src="/scripts/playersPage.js")