extends base.pug

block headExtra 
    title Registro

block content
    section
        h2 Registro no PatroArcade:
        - var apiUrl = apiURL
        form(id="registerForm" data-api-url=apiUrl data-arcade-id=arcadeId)
            label(for="username") Nome de Usuário
            input(type="text", name="username", id="username")
            label(for="email") Email
            input(type="email", name="email", id="email")
            label(for="password") Senha
            input(type="password", name="password", id="password")
            label(for="confirmPassword") Confirmar Senha
            input(type="password", name="confirmPassword", id="confirmPassword")
            p(id="feedback-message" style="text-align: center; color: #ff6b6b;")
            div(style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;")
                a(href=`/login/${arcadeId}`, style="margin-left: auto;") Já tenho uma conta
            div(style="display: flex; gap: 10px; flex-direction: column;")
                button(type="button", id="registerButton") Registrar

block scripts 
    script(src="/scripts/register.js")