/* Fundo estrelado */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: radial-gradient(ellipse at bottom, #0d1b2a, #000000) fixed;
    color: #ffffff;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .stars {
    background: url('/assets/stars.png') repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    animation: moveStars 100s linear infinite; /* Define a animação das estrelas */
  }

  @keyframes moveStars {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -2000px 0; /* Move as estrelas para a esquerda */
    }
}
  
  /* Header do app */
  .appHeader {
    text-align: center;
    padding: 20px 0;
  }
  
  .appHeader img {
    max-width: 200px;
  }
  
  /* Estilo geral das seções */
  section {
    margin: 20px auto;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    background: rgba(0, 0, 0, 0.7);
    border: 2px solid #1f6feb;
    border-radius: 10px;
    box-shadow: 0 0 15px #1f6feb;
  }
  
  section ul {
    padding: 0;
    list-style-type: none;
  }

  section li p {
    text-indent: 2rem;
  }

  section#latestNews {
    text-align: justify;
  }
  
  /* Títulos */
  section h1 {
    text-align: center;
    color: #1f6feb;
    font-size: 2rem;
    margin-bottom: 15px;
  }

  section h2 {
    text-align: center;
    color: #1f6feb;
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  section h3 {
    text-align: center;
    color: #1f6feb;
    font-size: 1.2rem;
    margin-bottom: 15px;
  }

  /* login */
  .loginSection {
    
  }

  /* Estilização da tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead {
    background-color: #1f6feb;
    color: white;
}

th, td {
    border: 0px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #1f6feb;
    color: white;
    font-weight: bold;
}

tr a {
    color: #1f6feb;
    text-decoration: none;
}

tr:nth-child(even) {
    background-color: #000000;
}

tr:hover {
    background-color: #242424;
}

/* Barra de experiência */
.progress {
    background-color: #333;
    border-radius: 5px;
    overflow: hidden;
    height: 20px;
    margin: 10px 0;
}

.progress-bar {
    background-color: #1f6feb;
    height: 100%;
    text-align: center;
    color: #fff;
    white-space: nowrap;
    transition: width 0.6s ease;
}

.gameName {
    color: #1f6feb;
    font-size: 1.5rem;
    margin-bottom: 15px;
}


  /* Específicos */
    #playerInfo {
        text-align: center;
        font-size: 1rem;
        margin-bottom: 15px;
        width: 100%;
    }

  .GameInfo {
    text-align: left;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .GameInfo h3 {
    text-align: left;
    color: #fafa03;
    font-size: 1rem;
    margin-bottom: 0px;
    margin: 0%;
  }

  .GameInfo p {
    margin: 0;
    text-align: center;
  }

  .GameInfo button {
    background-color: #4400ff; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 50%;
}
  
  /* Labels e inputs */
  form label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 5px;
    color: #ddd;
  }
  
  form input {
    width: 100%;
    margin-bottom: 15px;
    border: 2px solid #1f6feb;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 1.5rem;
  }
  
  form input:focus {
    outline: none;
    box-shadow: 0 0 10px #1f6feb;
  }
  
  /* Botões */
  form button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    background: linear-gradient(45deg, #1f6feb, #39d353);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  form button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #39d353;
  }
  
  /* Links úteis */
  #links-uteis ul {
    list-style: none;
    padding: 0;
  }
  
  #links-uteis li {
    margin: 10px 0;
    text-align: center;
  }
  
  #links-uteis a {
    text-decoration: none;
    color: #1f6feb;
    font-weight: bold;
    transition: color 0.2s;
  }
  
  #links-uteis a:hover {
    color: #39d353;
  }

  
  /* Rodapé */
  footer {
    text-align: center;
    margin: 20px 0;
    font-size: 0.8rem;
    color: #bbb;
  }
  
  footer a {
    text-decoration: none;
    color: #1f6feb;
  }
  
  footer a:hover {
    color: #39d353;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    section {
      width: 95%;
    }
  
    form button {
      font-size: 0.9rem;
    }
  }
  

.returnButton {
    background-color: #1f6feb;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.returnButton:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #1f6feb;
}

.gameListItem {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    flex-direction: column;
}